/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	font-family: "Arial", sans-serif;
}
.roboto {
	font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 500px) {/* если окно браузера больше максимальной ширины сайта */ 
	html {
		/* margin-left: calc(100vw - 100%);
		margin-right: 0; */
	}
}
.wrapper {
	overflow: hidden;
	/* display: flex; */
	flex-direction: column;
	min-height: 100vh;
}

.conteiner {
	max-width:960px;
	margin: 0 auto;
}
.header {
	background: rgb(208,228,247);
	background: -moz-linear-gradient(-45deg,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); 
	background: -webkit-linear-gradient(-45deg,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
	background: linear-gradient(135deg,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); 
	width: 100%;
	/* height: 75px; */
}
.top-header__content {
	display: flex;
	align-items: center;
}
.top-header__column {
	flex: 0 1 33.33%;
}

.icon-menu {
	display: none;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 0 10px;
}
.menu__list li {
	padding: 0 5px;
	/* flex: 1 1 auto; */
}

.menu__link {
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
}
.menu__link:hover {
	color: #eae9f1be;
}

@media (max-width: 960px) {
	.menu__link {
		font-size: calc(5px + (18 - 5) * ((100vw - 320px) / (960 - 320)));
	}
}
.logo-header {
	text-align: center;
}
.logo-header__img img {
	width: 70px;
	height: 70px;
}

.logo-header__title {
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 18px;
	font-weight: 700;
}
.logo-name {
	color: #ffffff;
	margin: 0;
}

.contact-icon {
text-align: right;
margin-right: 10px;
}
.contact-icon img {
	width: 35px;
	height: 35px;	
	margin: 0 2px;
}

@media (max-width: 900px) {
	.contact-icon img {
		width: 35px;
		height: 35px;	
		width: calc(25px + (35 - 25) * ((100vw - 320px) / (960 - 320)));
		height: calc(25px + (35 - 25) * ((100vw - 320px) / (960 - 320)));
		margin: 0 2px;
	}

	body.lock {
	overflow: hidden;
	}
	.icon-menu {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		margin: 0 0 0 10px;
	}
	.icon-menu span {
		position: absolute;
		background-color: #ffffff;
		right: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: linear 0.3s;
	}
	.icon-menu:before,
	.icon-menu:after {
		content: "";
		background-color: #ffffff;
		position: absolute;
		width: 100%;
		height: 2px;
		right: 0;
	}
	.icon-menu:before {
		top: 0;
		transition: transform 0.2s ease-in, top 0.2s linear 0.2s ;
	}
	.icon-menu:after {
		bottom: 0;
		transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s;
	}
	.icon-menu.active span {
		transform: scale(0);
		transition: linear 0s;
	}
	.icon-menu.active:before {
		transform: rotate(45deg);
		top: 9px;
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}
	.icon-menu.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
		transition: bottom 0.2s linear, transform 0.2s ease-in 0.2s;
	}
}
@media (max-width: 900px) {
	.header {
		height: 65px;
	}	
	.menu__body {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 64px 0 0 0;
		background-color: #29aa83;
		transition: right 0.5s linear, transform 0.5s ease-in 0s;
		transform: translate(-100%,-100%); /*появляеться с верхнего-левого угла в низ-вправо*/
		z-index: 5;
	}

	.menu__body.active {
		left: 0;
		transform: translate(0px, 0px); 
		transition: right 0.5s linear, transform 0.5s ease-in 0s;
	}

	.menu__list {
		/* position: absolute; */
		display: block;
		text-align: center;
		background-color: #29aa83;
		padding: 0;
		/* transition: all 0.8s ease 0s; */
	}		
	.menu__list li {
		margin: 25px 0;
		padding: 0;

	}
	.menu__link {
		font-size: 20px;
		/* transform: translate(0px, -100%);
		opacity: 0;
		transition: all 0.7s ease 3s; */
	}
	/* .menu__body.active .menu__link{
		font-size: 20px;
		transform: translate(-100%, 0px);
		opacity: 1;
		transition: all 0.7s ease 3s;
	} */

	.logo-header__img img {
		width: 45px;
		height: 45px;
	}
}
@media (max-width:440px) {
	.contact-icon img {
		margin: 0;
	} 
}
@media (max-width:375px) {
	.contact-icon img {
		margin: 5px;
	} 
}
/*-----------end-----------*/

/*-----------------------------------*/


.content-about__top {
	background: url('../images/kuhny.jpg') center/cover no-repeat;
	width: 100%;
	height: 400px;
}
.content-about__slogan {
	max-width: 400px;
	text-align: center;
}
.slogan-text{
	color: #fff;
	font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (960 - 320)));
	font-weight: 700;
	line-height: 120%;

	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.9s ease 0s;
}

.slogan-text._active {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 0.9s ease 0.5s;
}

.slogan-title {
	color: #fff;
	font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (960 - 320)));
	padding: 10px 0;

	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.9s ease 0s;
}
.slogan-title._active {
	transform: translate(0px, 0px);
	opacity: 1;
	/* transition: all 0.7s ease 0s; */
}
.botoom-text {
	margin: 0;
	padding: 10px 20px;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}

@media (max-width:960px) {
	.botoom-text {
		font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (960 - 320)));
	}
}

.botoom-text-top {
	margin: 0 0 15px 0;
}

@media (max-width:767px) {
	.content-about__top {
		height: calc(250px + (400 - 250) * ((100vw - 320px) / (960 - 320)));
	}
}

/*-----------end-----------*/

/*-----------------------------------*/
.services {
	background-image: url(../images/textura.jpg);
}
.services details div {
	overflow: hidden;
}
.services details[open] div {
	animation: services 2s;

}
/*анимация*/
@keyframes services {
	0%   {max-height: 0;}
	100% {max-height: 25em;}
}

.services__title {
	font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (960 - 320)));
	font-weight: 700;
	text-align: center;
	padding: 10px 0 25px 0;
}

.content-services details{
	transform: translate(-120%, 0px);
	transition: all 0.3s ease 0s;

}
.content-services._active details{
	transform: translate(0px, 0px);
}
.content-services._active details:nth-child(1){
	transition: all 1s ease 0s;
} 
.content-services._active details:nth-child(2){
	transition: all 1s ease 0.2s;
}
.content-services._active details:nth-child(3){
	transition: all 1s ease 0.4s;
}
.content-services._active details:nth-child(4){
	transition: all 1s ease 0.6s;
}
.content-services._active details:nth-child(5){
	transition: all 1s ease 0.8s;
}
.content-services._active details:nth-child(6){
	transition: all 1s ease 1s;
}
.content-services._active details:nth-child(7){
	transition: all 1s ease 1.2s;
}
.content-services._active details:nth-child(8){
	transition: all 1s ease 1.4s;
}
.content-services._active details:nth-child(9){
	transition: all 1s ease 1.6s;
}

.content-services__title {
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	color: #000000;
	cursor: pointer;
}




.content-services__text {
	/* overflow: hidden; */
	font-size: 20px;
	line-height: 25px;
	margin: 0 15px 0 35px;
	color: #261558;
	text-align: justify;
	font-weight: 500;
	transition: all 2s ease 0;
}

@media (max-width:960px){
	.content-services__title {
		font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (960 - 320)));
	}
	.content-services__text {
		font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (960 - 320)));
	}
}

/*-----------end-----------*/
/*------------sliders----------------*/

.sliders__title {
	font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (960 - 320)));
	font-weight: 700;
	text-align: center;
	margin: 15px 0 10px 0;
	border-bottom: 2px dashed #000000 ;
	padding: 0 0 20px 0;
}
.item-slider__foto img {
	width: 220px; 
	height: 165px
}
.foto-slider__img:hover {
	cursor: zoom-in;
}
.item-slider__foto{
	width: 220px; 
	height: 165px;
	text-align: center;
}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.item-slider{
	position: relative;	
}
@media (max-width:992px){
	.item-slider{
		padding: 0 50px;
	}
}
.item-slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -25px 0 0 0;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 50px;
}
.item-slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../images/sliders/arrow-L-black.png') 0 0/100% no-repeat;
}
.item-slider .slick-arrow.slick-next{
	right: 0;
	background: url('../images/sliders/arrow-R-black.png') 0 0/100% no-repeat;
}
.item-slider .slick-dots{
	display: flex;
	text-align: center;
	justify-content: center;
}
.item-slider .slick-dots li{
	list-style: none;
	margin: 0 10px;
}
.item-slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #000;
}
.slick-dots li button{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #261558;
}

/*-----------end-----------*/

/*-----------------------------------*/

.footer {
	background: rgb(178,225,255);
	background: -moz-linear-gradient(top,  rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	background: linear-gradient(to, bottom,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 );
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}
.content-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0 0 0;
}
.content-footer__logo {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 20px;
}

.content-footer__logo img {
	width: 40px;
	height: 40px;
	margin: 0 10px 0 5px;	
}
